@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
body {
  font-family: "Sriracha", cursive;
}

h1 {
  color: chartreuse;
  text-align: center;
}
h2 {
  color: crimson;
  text-align: right;
}
h3 {
  color: darkmagenta;
  text-align: justify;
}
h4 {
  color: blueviolet;
}
h5 {
  color: coral;
}
h6 {
  color: cornflowerblue;
}
p {
  color: deeppink;
  text-align: justify;
}
